<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <script data-require="angular.js@1.4.8" data-semver="1.4.8" src="https://code.angularjs.org/1.4.8/angular.js"></script>
         -->
  <!-- <link rel="stylesheet" href="style.css" /> -->
  <!-- <script src="script.js"></script> -->
  <!-- <script src="/src/taskcp.js"></script> -->



  <!-- bower -->
  <script src="/lib/jquery/dist/jquery.js"></script>
  <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/lib/angular/angular.js"></script>
  <script src="/lib/bootstrap-css/js/bootstrap.min.js"></script>
  <!-- endbower -->

  <!-- bower:css -->
  <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap-theme.css" />
  <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css" />
  <link rel="stylesheet" href="/lib/bootstrap-css/css/bootstrap.min.css" />
  <!-- endbower -->


  <!-- inject:css -->

  <link rel="stylesheet" href="/css/style.css">

  <!-- endinject -->

  <!-- inject:js-->

  <!-- endinject -->

  <script src="/coreController.js"></script>
  <script src="/aglrmenu/menuRepository.js"></script>
  <script src="/aglrmenu/menu.js"></script>
  <script src="/aglrmenu/menuController.js"></script>
  
  <script src="/aglrpersona/egresoRepository.js"></script>
  <script src="/aglrpersona/egreso.js"></script>
  <script src="/aglrpersona/egresoController.js"></script>

</head>

<body ng-app='hpManager'>

  <!-- Main Nav -->
  <div>
  <ul class="nav nav-tabs" ng-controller="menuCtrl as ctrl">
       <li ng-repeat="menu in ctrl.menus" class="nav-item">
           <a ng-href='{{menu.dirlink}}'>{{menu.name}}</a>
        </li>
     
   </ul>
  </div>
    <!-- Main Nav -->

  <div class="container">
    <h3>Persona</h3>
      <!-- Example row of columns -->

      <table class="table nav nav-tabs" ng-controller="personaCtrl as ctrlp">     
        
          <thead>
              
                 <th scope="col">Folio</th>
                 <th scope="col"> Fecha Egreso</th>
                 <th scope="col"> Fecha Ingreso</th>
                 <th scope="col"> Dias Estancia</th>
                 <th scope="col"> Nombre</th>
                 <th scope="col"> Apellido Paterno</th>
                 <th scope="col"> Apellido Materno</th>
                 <th scope="col"> Expediente</th>
                 <th scope="col"> Motivo Egreso</th>
                 <th scope="col"> Anio</th>
          </thead>

          <tbody>
          <tr ng-repeat="persona in ctrlp.personas" class="nav-item">
           
           <td>  {{persona.nombre}} &nbsp; {{persona.apellido_uno}} &nbsp; {{persona.apellido_dos}}  </td>  
           <td>  {{persona.sexo}}  </td>  
           <td> 
            
             {{persona.fechanac}}
          </td>  
           <td>  {{persona.estadonac}}  </td>  
           <td>  {{persona.curp}}  </td>  
           <td>  {{persona.estado}}  </td>  
           <td>  {{persona.municipio}}  </td>  
           <td>  {{persona.localidad}}  </td>  

          </tr>

        </tbody>
      
       
        </table>
      
        <footer>
          <div>
            <p>
              <br/>
            </p>
          </div>
        <p>&copy; FOOTER</p>
      </footer>
    </div>
   <!-- Main Nav -->


</body>


</html>