<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <script data-require="angular.js@1.4.8" data-semver="1.4.8" src="https://code.angularjs.org/1.4.8/angular.js"></script>
         -->
  <!-- <link rel="stylesheet" href="style.css" /> -->
  <!-- <script src="script.js"></script> -->
  <!-- <script src="/src/taskcp.js"></script> -->



  <!-- bower -->
  <script src="/lib/jquery/dist/jquery.js"></script>
  <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/lib/angular/angular.js"></script>
  <script src="/lib/bootstrap-css/js/bootstrap.min.js"></script>
  <!-- endbower -->

  <!-- bower:css -->
  <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap-theme.css" />
  <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css" />
  <link rel="stylesheet" href="/lib/bootstrap-css/css/bootstrap.min.css" />
  <!-- endbower -->


  <!-- inject:css -->

  <link rel="stylesheet" href="/css/style.css">

  <!-- endinject -->

  <!-- inject:js-->

  <!-- endinject -->

  <script src="/coreController.js"></script>
  <script src="/aglrmenu/menuRepository.js"></script>
  <script src="/aglrmenu/menu.js"></script>
  <script src="/aglrmenu/menuController.js"></script>
  
  <script src="/aglrpersona/personaRepository.js"></script>
  <script src="/aglrpersona/persona.js"></script>
  <script src="/aglrpersona/personaController.js"></script>

</head>

<body ng-app='coreManager'>

  <!-- Main Nav -->
  <div>
  <ul class="nav nav-tabs" ng-controller="menuCtrl as ctrl">
       <li ng-repeat="menu in ctrl.menus" class="nav-item">
           <a ng-href='{{menu.dirlink}}'>{{menu.name}}</a>
        </li>
     
   </ul>
  </div>
    <!-- Main Nav -->

  <div class="container">
    <h3>Persona</h3>
      <!-- Example row of columns -->
      <div>
          <div class="nav nav-tabs" ng-controller="personaCtrl as ctrlp">
                <div ng-repeat="persona in ctrlp.personas" class="nav-item">
                 <p>  {{persona.nombre}} &nbsp; {{persona.apellido_uno}} &nbsp; {{persona.apellido_dos}}</p> 
                </div>
             
              </div>
          </div>
  
        <footer>
        <p>&copy; FOOTER</p>
      </footer>
    </div>
   <!-- Main Nav -->


</body>


</html>